body {
  background-color: #0a0f1a;
  overflow: hidden;
}

/* lettre */
.glyph {
  font-family: "Orokin";
  font-size: 50px;
  color: #c7b27b;
  text-decoration: none;
  transition: 0.7s;
  height: 100vh;
  display: flex;
  align-items: center;
}
.glyph:hover {
  color: #e8d8a0;
  transform: scale(1.15);
}

/* cercle lumineux */
.vitruvian-glow {
  position: absolute;
  top: -50px; /* légèrement au-dessus pour un effet naturel */
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 800px;
  background: radial-gradient(
    circle,
    rgba(244, 202, 86, 0.55) 0%,
    rgba(255, 219, 120, 0.15) 40%,
    rgba(255, 219, 120, 0) 80%
  );
  filter: blur(80px); /* effet très flou comme dans le vitruvian */
  pointer-events: none; /* la lumière ne gêne pas les clics */
  z-index: 1; /* passe derrière tes glyphes */
}

/* ligne */
.line1 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(35deg);
  
  background: linear-gradient(
    to right,
    rgba(255, 230, 160, 0),
    rgba(255, 230, 160, 1),
    rgba(255, 230, 160, 0)
  );
  position: absolute;
  top: 50%;
  left: 50%;
}

.line2 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .line3 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .line4 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .line5 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .line6 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .line7 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .line8 {
    width: 66vmax;
    height: 2px;
    transform-origin: 0 0;
    transform: rotate(35deg);
    
    background: linear-gradient(
      to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0)
    );
    position: absolute;
    top: 50%;
    left: 50%;
  }
