body {
  background-color: #0a0f1a;
  overflow: hidden;


}

.bg-layer {
  position: absolute;
  inset: 0;
  background-image: url("../../assets/img/symbol.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}

/* Le dégradé animé */
.img1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 227, 135) 10%,
      rgba(255, 255, 255, 0) 50%);
  animation: wave 5s linear infinite;
  mix-blend-mode: lighten;
  /* OU soft-light / overlay selon l'effet */
  pointer-events: none;
}

/* Animation du dégradé */
@keyframes wave {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}




.img1 {
  background-image: url("../../assets/img/symbol.png");
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}


.img2 {
  background-image: url("../../assets/img/symbol2.png");
  opacity: 0.3;
}

.img3 {
  background-image: url("../../assets/img/symbol3.png");
  opacity: 0.5;
  background-size: 80%;
  /* chaque image peut être réglée séparément */
}


.grille {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "a b c d";
    grid-template-columns: 400px 930px 1100px auto;
 
 
}


/* lettre */
.glyphA {
  font-family: "Orokin";
  font-size: 150px;
  color: #c7b27b;
  text-decoration: none;
  height: 100vh;
  grid-area: a;
  display: grid;
  place-items: center; /* Centre horizontalement + verticalement */

}

.glyphB {
  font-family: "Orokin";
  font-size: 150px;
  color: #c7b27b;
  text-decoration: none;
  height: 100vh;
  grid-area: b;
  display: grid;
  place-items: center; /* Centre horizontalement + verticalement */

  justify-content: end; /* si tu veux la lettre à droite */




}


.glyphC {
  font-family: "Orokin";
  font-size: 150px;
  color: #c7b27b;
  text-decoration: none;
  height: 100vh;
  grid-area: c;
  display: grid;
  place-items: center; /* Centre horizontalement + verticalement */
  justify-content: end;     /* droite */


}


/* cercle lumineux */
.vitruvian-glow {
  position: absolute;
  top: -50px;
  /* légèrement au-dessus pour un effet naturel */
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 800px;
  background: radial-gradient(circle,
      rgba(244, 202, 86, 0.55) 0%,
      rgba(255, 219, 120, 0.15) 40%,
      rgba(255, 219, 120, 0) 80%);
  filter: blur(80px);
  /* effet très flou comme dans le vitruvian */
  pointer-events: none;
  /* la lumière ne gêne pas les clics */
  z-index: 1;
  /* passe derrière tes glyphes */
}

.txtg {
  width: 33dvw;
  position: relative;
  display: grid;
  color: #e8d8a0;
}



/* ligne */

.lignes {
  display: grid;
}

.line1 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(35deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;

}

.line2 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(90deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line3 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(145deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line4 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(183deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line5 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(217deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line6 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(270deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line7 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(323deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line8 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(357deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}