body {
  background-color: #0a0f1a;
  overflow: hidden;


}

.bg-layer {
  position: absolute;
  inset: 0;
  background-image: url("../../assets/img/symbol.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}

/* Le dégradé animé */
.img1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 227, 135) 10%,
      rgba(255, 255, 255, 0) 50%);
  animation: wave 5s linear infinite;
  mix-blend-mode: lighten;
  /* OU soft-light / overlay selon l'effet */
  pointer-events: none;
}

/* Animation du dégradé */
@keyframes wave {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}




.img1 {
  background-image: url("../../assets/img/symbol.png");
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}


.img2 {
  background-image: url("../../assets/img/symbol2.png");
  opacity: 0.3;
}

.img3 {
  background-image: url("../../assets/img/symbol3.png");
  opacity: 0.5;
  background-size: 80%;
  /* chaque image peut être réglée séparément */
}


.grille {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "a b c d";
    grid-template-columns: 922px 700px 400px auto;
 
 
}


/* lettre */
.glyphA {
  font-family: "Orokin";
  font-size: 150px;
  color: #c7b27b;

  height: 100vh;
  grid-area: a;
  display: grid;
  place-items: center; /* Centre horizontalement + verticalement */
  justify-content: end;
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;


}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}


.glyphB {
  font-family: "Orokin";
  font-size: 150px;
  color: #c7b27b;

  height: 100vh;
  grid-area: b;
  display: grid;
  place-items: center; /* Centre horizontalement + verticalement */
  justify-content: space-evenly; /* si tu veux la lettre à droite */
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;



}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}



.glyphC {
  font-family: "Orokin";
  font-size: 150px;
  color: #c7b27b;

  height: 100vh;
  grid-area: c;
  display: grid;
  place-items: center; /* Centre horizontalement + verticalement */
  justify-content: start;     /* droite */
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;

}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}









/* cercle lumineux */
.vitruvian-glow {
  position: absolute;
  top: -50px;
  /* légèrement au-dessus pour un effet naturel */
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 800px;
  background: radial-gradient(circle,
      rgba(244, 202, 86, 0.55) 0%,
      rgba(255, 219, 120, 0.15) 40%,
      rgba(255, 219, 120, 0) 80%);
  filter: blur(80px);
  /* effet très flou comme dans le vitruvian */
  pointer-events: none;
  /* la lumière ne gêne pas les clics */
  z-index: 1;
  /* passe derrière tes glyphes */
}

.oro {
  width: 33dvw;
  top: 550px;
  left: 620px;
  position: relative;
  display: grid;
  grid-area: a;
  color: #e8d8a0;
  font-size: 12px;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }

.oro2 {
  width:93dvw;
  top: 900px;
  left: 60px;
  position: relative;
  display: grid;
  grid-area: a;
  color: #e8d8a0;
  font-size: 52px;

  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }

.oro3 {
  width:93dvw;
  top: 100px;
  left: 20px;
  position: relative;
  display: grid;
  grid-area: c;
  color: #e8d8a0;
  font-size: 30px;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
.oro4 {
  position: fixed;   /* fixé au viewport */
  top: 1000px;
  right: 250px;
  display: grid;
  grid-area: d;
  color: #e8d8a0;
  font-size: 40px;
  transform: rotate(90deg); /* rotation sans déplacement */
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
}

 




/* SVG*/

.circuitSVG .lineee {
 stroke: #e8d8a0;
 stroke-width: 0.2;
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;
}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}
.circuitSVG {


 width: auto;
 height: 120vh;
 background-size: cover;
}

.circuitSVG2 .lineee2 {
 stroke: #e8d8a0;
 rotate: 90deg;
 stroke-width: 0.1;
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;
}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}
.circuitSVG2 {
      
 transform: translate(-10%, -30%);
 width: auto;
 height: 120vh;
 background-size: cover;
}

.circuitSVG3 .lineee3 {
 stroke: #e8d8a0;
 stroke-width: 0.3;
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;
}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}

.circuitSVG3 {
  position: fixed;   /* fixé au viewport */
  right: -30px;
  bottom: 790px; 
  width: 300px;    /* adapte selon ton design */
  transform: rotate(90deg); 
}



.circuitSVG4 .lineee4 {
 stroke: #e8d8a0;
 stroke-width: 0.3;
 filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
 animation: glow 1.5s infinite alternate, flow 3s linear infinite;
 
}
@keyframes flow {
 0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
 100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
}

.circuitSVG4 {
  position: fixed;   /* fixé au viewport */
  transform: rotate(90deg);  /* rotation sur place */
  right: -30px;
  bottom: 790px; 
  width: 300px;      /* adapte selon ton design */

}


.circuitSVG5 .lineee5 {
  stroke: #e8d8a0;
  stroke-width: 0.3;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .circuitSVG5 {
   position: fixed;   /* fixé au viewport */
   right: -30px;
   bottom: -280px; 
   width: 300px;    /* adapte selon ton design */
   transform: rotate(180deg); 
 }
 
 
 
 .circuitSVG6 .lineee6 {
  stroke: #e8d8a0;
 
  stroke-width: 0.3;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .circuitSVG6 {
  position: fixed;   /* fixé au viewport */
  right: -30px;
  bottom: -280px; 
  width: 300px;    /* adapte selon ton design */
  transform: rotate(180deg); 
 }
 
 .circuitSVG7 .lineee7 {
  stroke: #e8d8a0;
 
  stroke-width: 0.3;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .circuitSVG7 {
  position: fixed;   /* fixé au viewport */
  left: -30px;
  bottom: -280px; 
  width: 300px;    /* adapte selon ton design */
  transform: rotate(270deg); 
 }

 .circuitSVG8 .lineee8 {
  stroke: #e8d8a0;
 
  stroke-width: 0.3;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .circuitSVG8 {
  position: fixed;   /* fixé au viewport */
  left: -30px;
  bottom: -280px; 
  width: 300px;    /* adapte selon ton design */
  transform: rotate(270deg); 
 }

 .circuitSVG9 .lineee9 {
  stroke: #e8d8a0;
 
  stroke-width: 0.3;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .circuitSVG9 {
  position: fixed;   /* fixé au viewport */
  left: -30px;
  bottom: 790px; 
  width: 300px;    /* adapte selon ton design */

 }

 
 .circuitSVG10 .lineee10 {
  stroke: #e8d8a0;
 
  stroke-width: 0.3;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .circuitSVG10 {
  position: fixed;   /* fixé au viewport */
  left: -30px;
  bottom: 790px; 
  width: 300px;    /* adapte selon ton design */

 }



/* SVG grid D */
.opticeye .eye {
  display: grid;
  grid-area: d;
  transform: scale(0.55);
  transform-origin: center; /* centre l’élément pour éviter les décalages */
  justify-content: start;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;

  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .opticeye {
  display: grid;
  grid-area: d;
  position: fixed;   /* fixé au viewport */
  left: 1800px;
  bottom: 490px; 
  transform: scale(0.85);
  justify-content: start;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
}

.humanbody .bod {
  display: grid;
  grid-area: d;
  transform: scale(0.55);
  transform-origin: center; /* centre l’élément pour éviter les décalages */
  justify-content: start;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;

  
 }
 @keyframes flow {
  0% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
  50% { filter: drop-shadow(1px 0 1px #e8d8a0) drop-shadow(1px 0 3px #e8d8a0); }
  100% { filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0); }
 }
 
 .humanbody {
  display: grid;
  grid-area: d;
  position: fixed;   /* fixé au viewport */
  left: 1900px;
  bottom: 290px; 
  transform: scale(2);
  justify-content: start;
  filter: drop-shadow(0 0 1px #e8d8a0) drop-shadow(0 0 3px #e8d8a0);
  animation: glow 1.5s infinite alternate, flow 3s linear infinite;
}




.glyphD {

  grid-area: d;
  display: grid;
     /* droite */
  background-color: black;

}




/* ligne */

.lignes {
  display: grid;
}

.line1 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(35deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;

}

.line2 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(90deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line3 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(145deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line4 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(183deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line5 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(217deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line6 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(270deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line7 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(323deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}

.line8 {
  width: 66vmax;
  height: 2px;
  transform-origin: 0 0;
  transform: rotate(357deg);

  background: linear-gradient(to right,
      rgba(255, 230, 160, 0),
      rgba(255, 230, 160, 1),
      rgba(255, 230, 160, 0));
  position: absolute;
  top: 50%;
  left: 50%;
}